{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 2,
    "indent": ["error", 4],
    "space-before-function-paren": ["error", { "anonymous": "ignore", "named": "always" }],
    "comma-dangle": ["error", "never"]
  }
}